@model SimsTemplate.Models.ViewModels.AvatarEditorModel

 <div id="cropContainer">

     <div id="cropPreview">
        <img src="@Model.Avatar.ImageUrl" id="preview" alt="" />
    </div>

     <div id="cropDisplay">
         <img src="@Model.Avatar.ImageUrl" id="avatarImageEditor" alt="" />
    </div>

    <input id="Top" name="Top" type ="text"/>

 </div>