@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#FF0000;">Oops, an error has occurred!</h1>

<div>
    <br />
    <h3>I'm afraid we are currently having problems on the site. The website owner has been notified, and will fix this issue as soon as possible.</h3>
    <br />
    <br />
    <br />
    <br />
    <h3>Thank you for your patience.</h3>
    <h3>The CST Team.</h3>
</div>
