@{
    ViewBag.Title = "Profile";
}
<div id="pageContent">
    <div class="avatar">
        <img src="../Images/profileImages/avatar.jpg" />
        <br />
        <br />
        <br />
        <div class="friendsList">
                    <p id="title">
            @Html.ActionLink("Friends List", "Index", "FriendList")
        </p>

        John S <br />
        Jake F <br />
        Jim G <br />
        Kim H <br />
        Kar A <br /> 
        Tyler K <br />
        Sonya M <br />
        Linda B <br />
        Luke Y <br /> 
        Mike E <br />

        </div>
    </div>
    <div class="mainStats">
        <h2 id="title">
            Nikki Raey</h2>
        <hr />
        <br />
        <p id="title">
            Player Info
        </p>
        <table style="width: 100%;">
            <tr>
                <td>
                    Nationality:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Birthday:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Age:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Height:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Weight:
                </td>
                <td>
                    ....
                </td>
            </tr>
        </table>
        <br />
        <p id="title">
            Physical Attributes
        </p>
        <table style="width: 100%;">
            <tr>
                <td>
                    Skill Level:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Speed:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Strength:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Stamina:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Natural Fitness:
                </td>
                <td>
                    ....
                </td>
            </tr>
        </table>
        <br />
        <p id="title">
            School Attributes
        </p>
        <table style="width: 100%;">
            <tr>
                <td>
                    Number of Classes:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Grade Level Average:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Number of Friends:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Number of Absences:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Current CST Level:
                </td>
                <td>
                    ....
                </td>
            </tr>
        </table>
        <br />
        <p id="title">
            Tactical Attributes
        </p>
        <table style="width: 100%;">
            <tr>
                <td>
                    Competitiveness:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Creativity:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Leadership:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    TeamWork:
                </td>
                <td>
                    ....
                </td>
            </tr>
            <tr>
                <td>
                    Positioning:
                </td>
                <td>
                    ....
                </td>
            </tr>
        </table>

    </div>
</div>
