@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

<br />
@ViewBag.Message
<br />

 @using (Html.BeginForm())
 { 
 
     <label for="Password1" id="pass1label">New Password:</label>
     <br />
     <input id="Password1" type="password" />
     <br />
     <label for="Password2" id="pass2label">Confirm Password:</label>
     <br />
     <input id="Password2" type="password" />
     <br />
     
     <input id="Submit" type="submit" value="submit" />
     
 }