@{
    ViewBag.Title = "Forgotten Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

<br />

@ViewBag.Message

<br />


 @using (Html.BeginForm())
 { 
    
     <label for="email" id="labelEmail">Email:</label>
     
     <input id="email" type="text" name="email" />
     
     <input id="Submit" type="submit"  />
 }